.promotional {
  height: calc(100vh - 40vh);
  position: relative;
  width: 100%;
}

.banner-button {
  height: 2em;
  position: absolute;
  width: 2em;
}

.banner {
  background-image: url('../../../assets/Banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
