.logo {
  align-items: center;
  display: flex;
  grid-column: 1/3;
  height: 100%;
  justify-content: center;
  width: 100%;

  img {
    width: 80%;
  }
}

.user {
  align-items: center;
  display: flex;
  grid-column: -4/-3;
  justify-content: flex-start;
  margin-left: 2em;

  p {
    color: #474747d2;
    margin: 0;
    padding-left: 1em;
  }

  img {
    height: 1.5em;
    width: 1.5em;
  }
}
